<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Маршруты в React</title>
    <style>
        a { margin:5px;}
        .active{ color: red; font-weight: bold;}
        </style>
</head>
<body>
    <div id="app"></div>
        
    <script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
    <script src="https://unpkg.com/react-router-dom/umd/react-router-dom.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.25.0/babel.min.js"></script>
        
    <script type="text/babel">
    const Router = ReactRouterDOM.BrowserRouter;
    const Route = ReactRouterDOM.Route;
    const Switch = ReactRouterDOM.Switch;
    const NavLink = ReactRouterDOM.NavLink;
       
     
    class Home extends React.Component{
        render(){
            return <h2>Главная</h2>;
        }
    }
    class About extends React.Component{
        render(){
            return <h2>О сайте</h2>;
        }
    }
    class NotFound extends React.Component{
        render(){
            return <h2>Ресурс не найден</h2>;
        }
    }
    class Phone extends React.Component{
        render(){
            return <h3>Смартфоны</h3>;
        }
    }
    class Tablet extends React.Component{
        render(){
            return <h3>Планшеты</h3>;
        }
    }
    class Nav extends React.Component{
        render(){
            return <nav>
                    <NavLink exact to="/" activeStyle={{color:"green", fontWeight:"bold"}}>Главная</NavLink>  
                    <NavLink to="/about" activeClassName="active">О сайте</NavLink>  
                    <NavLink to="/products" activeClassName="active">Товары</NavLink>
                  </nav>;
        }
    }
    class Products extends React.Component{
        render(){
            return <div>
                        <h2>Товары</h2>
                        <Switch>
                            <Route path="/products/phones" component={Phone} />
                            <Route path="/products/tablets" component={Tablet} />
                        </Switch>
                    </div>;
        }
    }
    ReactDOM.render(
        <Router>
            <div>
                <Nav />
                <Switch>
                    <Route exact path="/" component={Home} />
                    <Route path="/about" component={About} />
                    <Route path="/products" component={Products} />
                    <Route component={NotFound} />
                </Switch>
            </div>
        </Router>,
        document.getElementById("app")
    )
    </script>
</body>
</html>